#logo {
    position: absolute;
    width: 160px;
    margin-top: -27px;
    margin-left: 45px;
}

#button {
    position: absolute;
    left: 620px;

}

#button1 {
    position: absolute;
    left: 870px;


}
#word {
    position: absolute;
    left: 278px;
}

#katalogs {
    text-align: center;
}

#color {
    background-color: rgb(102,39,39);
    color: white;
    width: 230px;
    height: 30px;

}
#navbar {
    height: 60px;
}

#heading {
    text-align: center;
}

#phones {
    width: 150px;
}

#lowerbar {
    color: white;
    background-color: rgb(108, 51, 51);
    height: 150px;
    margin-top: 50px;
}

#lowerbarheading {
    margin-left: 20px;
}

h1 {
    text-decoration: underline;
    padding-bottom: 20px;
    
}

#time {
    text-align: center;
}

#name {
    text-align: center;
}

#person {
    width: 220px;
}
